.info {
  width: 60%;
  font-size:0.9em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin-top:30px;

  & p {
    margin: 10px 0;
  }
}